<h2><%= @post.title %></h2>

<%= markdown(@post.content) %>

<% unless current_user.blank? %>
<% if current_user.admin? %>
  <div class="actions">
    <%= render "post_actions", post: @post %>
  </div>
<% end %>
<% end %>
